<div class="container">
  <div class="employer-grid">
    <div class="employer-box">
      <div class="employer-paragraph">
        <p>Your application for <%= @job.title %> at <%= @job.organisation.name %> has been submitted.</p>
      </div>
      <%= link_to "Go back to My Dashboard", applicant_dashboard_path %>
    </div>
  </div>
</div>

