<h1>Organisations#index</h1>

<%= link_to "Create an organisation", new_organisation_path %>

<div class="container mt-3" style="width:900px;">
  <!--<ul>-->
  <div class="card-grid">
    <% @organisations.each do |organisation| %>
      <!--<li>-->
         <div class="card">
         <%#= image_tag "avatar_placeholder.jpg", class: "avatar avatar-xs", data: { titi: "toto" } %>
            <img src="sbm-logo.png") class="card-img-top" >
              <div class="card-body">
                <p class="card-text">
                  <%#= link_to organisation.description,organisation_path(organisation) %>
                 <%= organisation.description[0..150]  %>
                </p>
             </div>
         </div>
       <!--</li>-->
    <% end %>
  <!--</ul>--> 
</div>
