<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), <%= image_tag "back.jpg"%>">
  <div class="container">
    <h1>Your <strong>internship</strong> is <strong>one click away</strong>!</h1>
    <br>
    <p>Join our community to explore internships from more than 1000 companies!</p>
    <br>
    <a class="btn btn-flat" href="#">Explore jobs</a>
  </div>
</div>


<%= link_to "employer dashboard", employer_dashboard_path %>

