<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <h1>Your internship is one click away</h1>
      <p>Join our community to explore internships
      from more than 1000 companies!</p>
    </div>

    <div class="col-sm-6">

    </div>

  </div>
</div>


<%= link_to "employer dashboard", employer_dashboard_path %>
