<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner1.jpg" %>);">
  <div class="container d-flex justify-content-between">
    <h1>Your <strong>internship</strong> is <strong>one click away</strong>!</h1>
    <p>Join our community to explore internships from more than 1000 companies!</p>
    </div>
    <div class="container d-flex justify-content-between">
    <a class="btn btn-flat" href="#">Explore Internships</a>
    </div>
</div>


<%= link_to "employer dashboard", employer_dashboard_path %>

