<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to "See Jobs", jobs_path %>

<br>

<%= link_to "applicant dashboard", applicant_dashboard_path %>

<br>

<%= link_to "employer dashboard", employer_dashboard_path %>

<br>

<%= link_to "see organisations", organisations_path %>
