<h1>Hello user_qualifications</h1>

<div class="container">
  <%= simple_form_for @user_qualification do |f| %>
    <%= f.input :qualification,
                as: :select,
                collection: Qualification.labels  %>
    <%= f.button :submit, class: "btn btn-sm btn-outline-primary" %>
  <% end %>
</div>


