.profile-information {
  border: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  padding: 3rem 3rem;
}

.profile-information h3 {
  font-family: 'Poppins', sans-serif;
}

.applicant-attributes {
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
