.organisation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.organisation-box {
  background-color: white;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0,0,0,0.2);
  margin: 1.0rem;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  text-align: center
}

.organisation-logo {
  height: 12rem;
  padding: 10px;
}

.organisation-paragraph {
  font-size: 1.2rem;
  color: #666;
  padding: 10px;
  height: 210px;
  margin: 2px;
}

.card:hover {
  transition: 0.2s;
  transform: scale(0.98) translateY(-2px);
  box-shadow: 1px 2px 2px 1px rgba(240, 240, 240, 0.34);
}

.card {
  margin-top: 15px;
  padding: 5px;
}

.organisation-photo {
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.organisation-new {
  margin-top: 1rem;
  margin-left: 4rem;
}

.organisation-link {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

.organisation-link:hover {
  text-decoration: none;
}

.organisation-paragraph-new {
  color: #333;
  margin: 2px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.7;
}






