@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');


.search-bar {
  width: 50%;
  border-radius: 4px;
  margin-left: 285px;
  margin-top: 10px;
}
